<div class="row">
  <div class="col s10 offset-s1">
    <div class="card blue-grey">
      <div class="card-content white-text">
        <span class="card-title">{{StateBillID}}: {{BillName}}</span>
        <p>{{Summary}}</p>
      </div>
      <div class="card-action">
        <a href="#">Track this bill..</a>
        <a href="#">Learn more..</a>
      </div>
    </div>
  </div>
</div>
