<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    

    {{!-- <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8"> --}}

    {{!-- jquery --}}
     <script src="https://code.jquery.com/jquery-3.4.0.slim.js"
      integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ=" crossorigin="anonymous"></script>
      
  <title>Local Voter</title>
</head>

<body>
   

  <div class="row">
    <div class="">{{{body}}}</div>
  </div>
  
</body>

</html>

<script src="https://code.jquery.com/jquery-3.4.0.slim.js"
      integrity="sha256-milezx5lakrZu0OP9b2QWFy1ft/UEUK6NH1Jqz8hUhQ=" crossorigin="anonymous"></script>
  

    <!-- Compiled and minified JavaScript -->
    <script src="/js-materialize/materialize.min.js"></script>
    <script src="/js-materialize/init.js"></script>