<!-- Nav Bar -->
<nav class="indigo darken-4" role="navigation">
  <div class="nav-wrapper container"><a href="/"><img id="logo-container" class="brand-logo center"
        src="/assets/LocalVoter_Icon_White.png" alt="Logo" style="height:60px; margin-top:10px"></a>
    <ul class="left hide-on-med-and-down">
      <li><a href="">My Tracked Bills</a></li>
    </ul>
    <ul class="left hide-on-med-and-down">
      <li><a href="../representatives">My Local Representatives</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="/" class="btn white" style="color:darkblue">Log Out</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">My Settings</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="">My Tracked Bills</a></li>
      <li><a href="">My Local Reps</a></li>
      <li><a href=""></a>My Settings</li>
      <li><a href="/"></a>Log Out</li>
      
    </ul>


    <a href="" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="row">
  <div class="col s12 m6 offset-m3" style="">
    <div class="nav-wrapper">
      <br>
      <form>
        <div class="input-field">
          <input id="search" type="search" placeholder="Search A Bill">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
          <div class="input-field col s12 m6 offset-m3">
            <select id="stateCodeSU">
              <option value="" disabled selected>Select Your State</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>

            </select>
            <div class="switch">
              <label>
                Inactive
                <input type="checkbox">
                <span class="lever"></span>
                Active
              </label>
            </div>
          </div>
          <!-- Switch -->

          <!--chips-->

          <!--chips-->
        </div>
      </form>
    </div>
  </div>
</div>
<div class="results">
  {{#each billsData}}
  {{> bill-block}}
  {{/each}}
         <button class="emailz" value="{{usersEmail}}">Hit to see email variable..</button>
</div>
<script src="/js/account.js"></script>
<script>  // Or with jQuery

$(".switch").find("input[type=checkbox]").on("change",function(){
var status = $(this).prop('checked')
console.log("here")
if(status === true){
//window.location.href = "../representatives"
window.location.href = "/bills/active"
}
else{
window.location.href = "bills/all"
}
//var url = "../representaitves"
//$.ajax({
  //url:url,
  //type: "get",
  //data:{status:status}
//})
})
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('search');
  filter = input.value.toUpperCase();
  ul = document.getElementById("test");
  li = ul.getElementsByTagName("div");

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("div")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}

$(".billTrack").on("click", function(event){
 event.preventDefault();
   //console.log("here")
   var usersTrackedBills = {
    BillID: this.value,
}
console.log(usersTrackedBills.BillID)

})

$(".emailz").on("click", function(event){
 event.preventDefault();
   //console.log("here")
   var usersTrackedBills = {
    usersEmail: this.value,
}
console.log(usersTrackedBills.usersEmail)

})
  $(document).ready(function () {
    $('select').formSelect();
  });

  instance.getSelectedValues();
</script>