   <!-- Nav Bar -->
  <nav class="indigo darken-4" role="navigation">
    <div class="nav-wrapper container"><a href="/"><img id="logo-container" class="brand-logo center"
        src="/assets/LocalVoter_Icon_White.png" alt="Logo" style="height:60px; margin-top:10px"></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="">About</a></li>
      </ul>
      <ul class="left hide-on-med-and-down">
        <li><a href="">Contact Us</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/signup" class="btn red accent-4" style="color:white">Sign Up</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href=""></a>About</li>
        <li><a href=""></a>Contact</li>
      </ul>


      <a href="" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav> 
  
 <div class="section" id="index-banner" style="background-image:url('assets/list.png')">
    <div class="container">
      <br><br>
      <h1 class="header center">Local Voter</h1>
      <div class="row center">
        <h5 class="header col s12 light">Learn and follow bills in your local state government</h5>
      </div>
      <div class="row center">
        <a href="" id="signUpBtn" class="btn-large red accent-4 waves-effect waves-light btn">Sign Up Today!</a>
      </div>
    </div>
  </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">assignment</i></h2>
            <h5 class="center">Learn</h5>

            <p class="light">An easier way to find all your local government bills, active and inactive</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">directions_run</i></h2>
            <h5 class="center">Track</h5>

            <p class="light">Keep up with the bills you care about, find out who has voted on them or not.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">spa</i></h2>
            <h5 class="center">Get Involved</h5>

            <p class="light">Contact your local government representatives about the bills you care about.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer  indigo lighten-2">
    <div class="container">
      <div class="row">
        <div class="col 16 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our
            full time job. Any amount would help support and continue development on this project and is greatly
            appreciated.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright  indigo lighten-2">
      <div class="container center">
        <p class="center white-text" style="margin-bottom:-5px;"> &copy; Copyright 2019</p>
      </div>
    </div>
  </footer>