<h1>WELCOME TO THE HOME PAGE</h1>
<a href="/signup">
  <button id="createUser" class="btn waves-effect waves-light" type="button" name="action">Sign Up</button>
</a>

<a href="/login">
  <button class="btn waves-effect waves-light" type="button" name="action">Login</button>
</a>