<h1>bills</h1>

<div class="row">
  <div class="col s12" style="background-color: lightgray">
    <h2>nav bar</h2>
  </div>
</div>

<div class="container" style="background-color: lightblue; min-height: 100vh">
  content
</div>